.input-error {
  background-color: #f6aaaa;
  border-radius: 3px;
}

.error {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

.date-error {
  color: red;
  font-size: 12px;
  margin-top: -40px;
}

button:disabled {
  opacity: 0.5;
}
